
<% provide(:title, "Home") %>

   <p>
   <h3> Welcome, <%= current_user.name %> </h3><br />
   </p>
   <p>
   	
   	<%= link_to 'View your tickets', current_user %><br />
   	<%= link_to 'View your campaigns', my_campaigns_path %> 
   	
   	
   </p>
