<nav class="navbar  navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ad Ops Dashboard", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Tickets", tickets_path  %></li>
          <li><%= link_to "Campaigns", campaigns_path  %></li>
          
        </ul>
      </nav>
    </div>
  </div>
</nav>